<script>
    viewModel.title('Counter Party View')
</script>

<!-- Content -->
<script src="{{ NoCacheUrl "/main/static/3rdparty/d3/d3.v4.min.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/3rdparty/d3/d3-selection-multi.v1.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/core/js/counterparty-main.js" }}"></script>
<link rel="stylesheet" href="{{ NoCacheUrl "/main/static/core/css/counterparty-main.css" }}" />
<div class="row" id="filter">
   <div class="menu_counterpartymain">
      <select name="Site" style="width:150px" class="filter" data-bind="kendoDropDownList: { data: counterpartymain.meglobal, dataValueField: 'value', dataTextField: 'text',optionLabel:'Meglobal',filter: 'contains'}"></select>
   </div>
   <div class="menu_counterpartymain">
      <select name="Site" style="width:150px" class="full-width filter-space" data-bind="kendoDropDownList: { data: counterpartymain.buyer, dataValueField: 'value', dataTextField: 'text',optionLabel:'Buyers & Suppliers',filter: 'contains'}"></select> 
   </div>
   <div class="menu_counterpartymain">
      <select name="Site" style="width:150px" class="full-width filter-space" data-bind="kendoDropDownList: { data: counterpartymain.group, dataValueField: 'value', dataTextField: 'text',optionLabel:'All Groups',filter: 'contains'}"></select>
   </div>
   <div class="menu_counterpartymain">
      <select name="Site" style="width:150px" class="full-width filter-space" data-bind="kendoDropDownList: { data: counterpartymain.top, dataValueField: 'value', dataTextField: 'text',optionLabel:'Top 10',filter: 'contains'}"></select>
   </div>
   <div class="menu_counterpartymain">
      <select name="Site" style="width:150px" class="full-width filter-space" data-bind="kendoDropDownList: { data: counterpartymain.flows, dataValueField: 'value', dataTextField: 'text',optionLabel:'Flows >$50M',filter: 'contains'}"></select>
   </div>
   <div class="menu_counterpartymain">
      <div id="radioBtn" class="btn-group">
         <a class="btn btn-primary btn-xs active" data-toggle="happy" data-title="Y">Y</a>
         <a class="btn btn-primary btn-xs notActive" data-toggle="happy" data-title="M">M</a>
      </div>
      <input type="hidden" name="happy" id="happy">
   </div>
   <div class="menu_counterpartymain">
      <input type="text" id="year" data-bind="kendoDatePicker:{value:new Date(),format:'yyyy', start: 'decade'}" class="filter-space">
   </div>
   <div class="menu_counterpartymain">
      <input type="text" id="month" data-bind="kendoDatePicker:{value:new Date(),format:'MMM', start: 'year'}" class="filter-space">
   </div>
   <div class="menu_counterpartymain">
      <div style="background-color: #33c766; color: #fff; padding: 4px 15px 4px 15px; border-radius:18px">Go</div>
   </div>
   <div class="menu_counterpartymain">
      <img width="20px"src="/main/static/3rdparty/img/pdf.png" alt="pdf">
   </div>
</div> 
<div id="maps" class="row">
    <div class="panel ez no-padding hardcore">
      <div class="panel-body no-padding">
        
        <div id="graph" class="graph"></div> 
        <div class="row groupbox">
          <div class="box lightblue">
	            ETB
	          </div>
	          <div class="box darkblue">
	            NTB
	          </div>
        </div>
      </div>
    </div>
</div>
