<title>Loading ...</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="/main/static/core/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/main/static/core/img/favicon.ico" type="image/x-icon">

<!-- html5shiv -->
<!--[if lt IE 9]>
    <script src="/main/static/3rdparty/html5shiv/html5shiv.min.js"></script>
<![endif]-->

<!-- normalize -->
<link rel="stylesheet" href="/main/static/3rdparty/normalizecss/normalize.css">

<!-- jquery -->
<script src="/main/static/3rdparty/jquery/jquery-2.2.4.min.js"></script>
<script src="/main/static/3rdparty/jquery/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/main/static/3rdparty/jquery/jquery-ui.min.css">

<!-- jszip -->
<script src="/main/static/3rdparty/jszip/jszip.min.js"></script>

<!-- kendoui -->
<script src="/main/static/3rdparty/kendoui/js/kendo.all.min.js"></script>
<link rel="stylesheet" href="/main/static/3rdparty/kendoui/styles/kendo.material.min.css">
<link rel="stylesheet" href="/main/static/3rdparty/kendoui/styles/kendo.common-bootstrap.min.css">
<link rel="stylesheet" href="/main/static/3rdparty/kendoui/styles/kendo.dataviz.min.css">
<link rel="stylesheet" href="/main/static/3rdparty/kendoui/styles/kendo.dataviz.bootstrap.min.css">

<!-- knockoutjs -->
<script src="/main/static/3rdparty/knockoutjs/knockout-3.4.2.js"></script>
<script src="/main/static/3rdparty/knockoutjs/knockout.mapping-2.4.1.js"></script>
<script src="/main/static/3rdparty/knockoutjs/knockout.validation.min.js"></script>

<!-- knockout-kendo -->
<script src="/main/static/3rdparty/knockout-kendo/knockout-kendo.min.js"></script>

<!-- tooltipster -->
<script src="/main/static/3rdparty/tooltipster/tooltipster.bundle.min.js"></script>
<script src="/main/static/3rdparty/tooltipster/tooltipster-SVG.min.js"></script>
<link rel="stylesheet" href="/main/static/3rdparty/tooltipster/tooltipster.bundle.min.css">

<!-- sweetalert -->
<script src="/main/static/3rdparty/sweetalert/sweetalert.min.js"></script>
<link rel="stylesheet" href="/main/static/3rdparty/sweetalert/sweetalert.css">

<!-- bootstrap -->
<script src="/main/static/3rdparty/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/main/static/3rdparty/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/main/static/3rdparty/bootstrap/css/bootstrap-theme.min.css">

<!-- bootstrap-switch -->
<!--<script src="/main/static/3rdparty/bootstrap-switch/bootstrap-switch.min.js"></script>-->
<!--<link rel="stylesheet" href="/main/static/3rdparty/bootstrap-switch/bootstrap-switch.min.css">-->

<!-- bootstrap-validator -->
<!--<script src="/main/static/3rdparty/bootstrap-validator/validator.min.js"></script>-->

<!-- EZ -->
<link rel="stylesheet" href="{{NoCacheUrl "/main/static/core/css/kendo.ez.css"}}">
<link rel="stylesheet" href="{{NoCacheUrl "/main/static/core/css/bootstrap-ext.css"}}">

<!-- lodash -->
<script src="/main/static/3rdparty/lodash/lodash.js"></script>

<!-- momentjs -->
<script src="/main/static/3rdparty/momentjs/moment.js"></script>

<!-- animate.css -->
<link rel="stylesheet" href="/main/static/3rdparty/animatecss/animate.css">

<!-- font-awesome -->
<link rel="stylesheet" href="/main/static/3rdparty/font-awesome/css/font-awesome.min.css">

<!-- spinkit -->
<link rel="stylesheet" href="/main/static/3rdparty/spinkit/9-cube-grid.css">

<!-- helper -->
<script src="{{NoCacheUrl "/main/static/core/js/helper.js"}}"></script>

<!-- main -->
<script>'use strict'; var viewModel = {};</script>
<script src="{{NoCacheUrl "/main/static/core/js/layout.js"}}"></script>
<link rel="stylesheet" href="{{NoCacheUrl "/main/static/core/css/fonts.css"}}">
<link rel="stylesheet" href="{{NoCacheUrl "/main/static/core/css/layout.css"}}">
