#incoming {
	height:50px;
	background:#404b5f;
	margin-bottom:5px;
	text-align:center;
	vertical-align: middle;
	font-size:20px;
	color:#fff;
	padding-top:10px
}

#detailincoming {
	height:500px;
	background:#4f5f79
}

.node rect {
  cursor: move;
  fill-opacity: .9;
}

.node text {
  pointer-events: none;  
  fill: #333;
  font-size: 12px;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover, .link.selected {
  stroke-opacity: .5;
  cursor: pointer;
}

#missedflowchart {
	height: 700px;
}