#incoming {
	height: 50px;
	background: #404b5f;
	margin-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	color: #fff;
	padding-top: 10px
}

#detailincoming {
	height: 500px;
	background: #4f5f79
}

text.shadow {
	stroke: white;
	stroke-width: 4px;
	stroke-opacity: .8;
}

.node rect {
	cursor: move;
	fill-opacity: .9;
}

.node text {
	pointer-events: none;
	fill: #333;
	font-size: 12px;
}

.stop-left {
	stop-color: #DADFE1;
}

.stop-right {
	stop-color: #6C7A89;
}

.link {
	fill: none;
	opacity: 0.2;
}

.link:hover {
	opacity: 1;
	cursor: pointer;
}

.gradient-link {
	fill: none;
}

.gradient-link:hover,
.gradient-link.selected {
	stroke-opacity: 1;
	cursor: pointer;
}

#missedflowchart .tooltipStyle {
	background: #333;
	color: #fff;
}

.d3-tip h1 {
	font-weight: 500;
	font-size: 14px;
	padding: 0;
	margin-bottom: 5px;
	width: 100%;
}

.d3-tip h2 {
	font-weight: bold;
	font-size: 12px;
	padding-right: inherit;
	padding-left: inherit;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0px;
}

.d3-tip h3 {
	font-weight: normal;
	font-size: 8px;
	margin: 0;
	padding: 0;
}

.d3-tip table {
	font-weight: normal;
	font-size: 12px;
	padding: none;
	margin: 0;
	width: 100%;
	border: none;
	border-collapse: collapse;
}

.d3-tip td {
	padding-top: 2px;
	padding-bottom: 2px;
}

.d3-tip .col-left {
	padding-right: 8px;
}

.d3-tip .table-wrapper {
	margin: 0;
	padding: inherit;
	border: none;
}

.d3-tip {
	line-height: 1;
	font-weight: normal;
	padding: 4px;
	background: white;
	color: black;
	border-radius: 5px;
	pointer-events: none;
	background: white;
	box-shadow: 1px 1px 4px grey;
	z-index: 1000;
}

.menu-missedflow {
	display: inline-block;
	font-size: 11px;
	margin-bottom: 6px;
}

#printpdf {
	cursor: pointer;
}

.switch {
	color: #3276b1;
	background-color: #fff;
	height: 27px;
}

#filter .k-dropdown .k-state-default {
	background: #22313F;
	border-color: #22313F;
	color: #ffffff;
}

#filter .k-input {
	color: #ffffff;
	background: #22313F;
}

#filter .k-picker-wrap {
	background: #22313F;
	border-color: #22313F;
	color: #ffffff;
}

#filter .k-picker-wrap.k-state-default>.k-select {
	border-color: #22313F;
}

.detail-table {
	width: 100%;
}

.detail-table tr td{
	padding-bottom: 10px;
}

.bottom-navigation {
	position: fixed;
	bottom: 0px;
	margin-left: 2px;
}

.bottom-navigation ul {
	text-align: center;
	padding: 0;
}

.bottom-navigation ul li {
	display: inline-block;
	text-align: center;
	padding: 10px 50px;
	border-radius: 2px;
	background-color: #BDC3C7;
	color: black;
	margin-right: 20px;
	box-shadow: 0 0 20px -5px #BDC3C7;
}

.bottom-navigation ul li:hover,
.bottom-navigation ul li.active {
	cursor: pointer;
	background-color: #89C4F4;
}

.filter-button {
	cursor: pointer;
}

.bottom-margin {
	margin-bottom:40px;
}