html {
  background-color: #ECF0F1 !important;
}

.layout-content {
  background-color: #ECF0F1 !important;
}

.widget {
  background-color: #22313F;
  color: #ECF0F1;
}

.widget-body {
  padding: 0px 15px 5px;
  overflow: hidden;
}

.widget-body .widget-left {
  width: 30%;
  font-size: 3em;
  float: left;
}

.widget-body .widget-right {
  width: 70%;
  float: right;
  text-align: right;
}

.widget-body .widget-right .left-caret {
  float: left;
  padding-left: 10px;
}

.widget-body .widget-right .chart-container {
  height: 50px;
}

.map {
  height: 600px;
  background-color: #22313F;
  border-radius: 5px;
}

.map:focus {
  outline: none;
}

.table.ez thead {
  background-color: #4183D7;
}

.table.ez thead th {
  color: white !important;
  font-size: 13px;
}

.table.ez tbody {
  border-top: 5px solid #ECF0F1;
}

.table.ez tr td {
  font-size: 11px;
  border: none !important;
}

.dropdown-ez .k-dropdown-wrap {
  background-color: #4183D7;
  border: none;
}

.dropdown-ez .k-dropdown-wrap span {
  color: white !important;
}
/* Test */
