html {
  background-color: #ECF0F1 !important;
}

.green-text {
  color: #1E824C;
}

.red-text {
  color: #CF000F;
}

.layout-content {
  margin-top: 9px;
  background-color: #ECF0F1 !important;
}

th.dash_act {
  text-align: center;
}

.widget {
  background-color: #22313F;
  color: #ECF0F1;
}

.widget-body {
  padding: 0px 15px 5px;
  overflow: hidden;
}

.widget-body .widget-left {
  width: 40%;
  float: left;
}

.widget-body .widget-left>p {
  font-size: 2em;
}

.widget-body .widget-right {
  width: 60%;
  float: right;
  text-align: right;
}

.widget-body .widget-right .left-caret {
  float: left;
  padding-left: 10px;
}

.widget-body .widget-right .chart-container {
  height: 50px;
}

.map {
  height: 600px;
  border-radius: 5px;
  z-index: 0;
}

.map:focus {
  outline: none;
}

.bubble-tooltip ul {
  padding: 0;
}

.bubble-tooltip ul li {
  list-style-type: none;
}

.table.ez thead {
  background-color: #4183D7;
}

.table.ez thead th {
  color: white !important;
  font-size: 13px;
}

.table.ez tbody {
  border-top: 5px solid #ECF0F1;
}

.table.ez tr td {
  font-size: 11px;
  border: none !important;
}

.filter-container {
  padding-bottom: 10px;
  overflow: hidden;
}

.filtergroup .k-dropdown .k-state-default {
	background: #22313F;
	border-color: #22313F;
	color: white;
}

.filtergroup .k-state-default .k-input {
  background: #22313F;
  color: white;
}

.filtergroup .k-picker-wrap {
	background: #22313F;
	border-color: #22313F;
	color: white;
}

.filtergroup .k-picker-wrap.k-state-default>.k-select {
	border-color: #22313F;
}

#maps .k-i-marker-pin-target:before {
  content: none;
}

.box {
  width: 60px;
  height: 40px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  margin-bottom: 5px;
  position: initial;
  color: white;
  font-size: 10px;
  font-weight: normal;
}

.box.redbox {
  background-color: #e15613;
}

.box.bluebox {
  background-color: #428bca;
}

.box.greenbox {
  background-color: #8ebc00;
}

.groupbox {
  position: absolute;
  top: 18px;
  right: 23px;
  margin-right: 0px;
  margin-left: 0px;
}

#mapDetailModal .btn.btn-flat {
  width: 215px;
  background: #576379;
  font-size: 20px;
}

#mapDetailModal .btn.btn-flat:hover {
  color: #91a2c3;
}

#mapDetailModal .btn.btn-flat .fa {
  float: right;
  display: inline-block;
  padding-top: 5px;
}

#mapDetailModal .modal-header {
  background: #1e88e5;
  color: white;
  border-bottom: #1e88e5;
}

#mapDetailModal .modal-body {
  background: #404b5f;
  color: white;
  position: relative;
  padding: 0px 5px 15px 5px;
}

.top-margin {
  margin-top: 20px;
}

.filtergroup {
  float: left;
  margin-right: 10px;
}

.black-color {
  background: #000000;
  border-color: #000000;
}

.blue-color {
  background: #0070c0;
}

.green-color {
  background: #60d5a8;
}

.grey-color {
  background: #8faadc;
}

.box-product {
  width: 100%;
  min-height: 30px;
  text-align: center;
  vertical-align: middle;
  padding-top: 7px;
  margin-bottom: 5px;
  color: white;
  background: #4f5f79;
  font-size: 12px;
}

.box-product label {
  font-size: 14px;
  font-weight: normal;
}

.table tr:first-child td:nth-child(1),
.table tr:first-child td:nth-child(2) {
  border: 1px transparent;
}

.table {
    margin-bottom: 9px;
}

.modal-content{
 border : none;
}

.modal-title {
  font-size: 17px;
}

.texthead {
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 17px;
}

.fa-in {
  font-size: 40px;
  transform: translate(-3px, 4px);
  color: #4472c4;
}

.fa-out {
  font-size: 40px;
  transform: rotate(180deg) translate(-3px, -4px);
  color: #4472c4;
}

.fa-hide {
  visibility: hidden;
}

#tradetabs .nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  width: 50%;
  text-align: center;
}

.tab-pane {
  margin: 15px;
}

#tradetabs .nav-tabs>li>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
  color: white;
  cursor: default;
  background-color: #313a49;
  border-bottom-color: transparent;
  border-color: #313a49;
  cursor: pointer;
}

#tradetabs .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: white;
  cursor: default;
  background-color: #404b5f;
  border-bottom-color: transparent;
  border-color: #404b5f;
  cursor: pointer;
}

#tradetabs .nav-tabs {
  border-bottom: none;
}

.nav-tabs>li>a {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#titleName:hover {
  cursor: pointer;
  text-decoration: underline;
}

circle:hover {
  filter: url(#shadow);
}

.btn.btn-flat {
  font-size: 14px !important;
}

.head {
  font-size: 16px !important;
}

div.cssnowrap {
  text-overflow: ellipsis;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
}

div.cssnowrap:hover {
  text-overflow: clip;
  width: auto;
  white-space: normal;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.close {
  color: #fff;
  opacity: 0.8;
}

.close:hover {
  color: #fff;
  opacity: 2;
}

.othertable>tbody>tr>td {
  border-top: 2px solid #ddd;
}
