<script>
  viewModel.title('Missed Flow Analysis')
</script>
<!-- Content -->
<script src="{{ NoCacheUrl "/main/static/3rdparty/d3/d3.v4.min.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/3rdparty/d3/d3-selection-multi.v1.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/3rdparty/d3/sankey.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/3rdparty/d3/d3-tip.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/core/js/missedflow/index.js" }}"></script>
<link rel="stylesheet" href="{{ NoCacheUrl "/main/static/core/css/missedflow/index.css" }}" />
<div class="row" id="setarea">
  <div class="row col-md-12" id="filter">
  <div class="col-lg-12">
    <div class="menu-missedflow">
      <select id="dropdownlist" name="Site" style="width:200px" class="filter" data-bind="kendoDropDownList: {data: filter.entities,value: filter.selectedEntity,filter: 'contains'}"></select>
    </div>
    <div class="menu-missedflow">
      <select name="Site" style="width:120px" class="full-width filter-space" data-bind="kendoDropDownList: { data: filter.role, value: filter.selectedRole, dataValueField: 'value', dataTextField: 'text', filter: 'contains'}"></select>
    </div>
    <div class="menu-missedflow">
      <select name="Site" style="width:60px" class="full-width filter-space" data-bind="kendoDropDownList: { data: filter.group, value: filter.selectedGroup, dataValueField: 'value', dataTextField: 'text', filter: 'contains'}"></select>
    </div>
    <div class="menu-missedflow">
      <select name="Site" style="width:70px" class="full-width filter-space" data-bind="kendoDropDownList: { data: filter.productCategories, value: filter.selectedProductCategory, dataValueField: 'value', dataTextField: 'text', filter: 'contains'}"></select>
    </div>
    <div class="menu-missedflow">
      <select name="Site" style="width:70px" class="full-width filter-space" data-bind="kendoDropDownList: { data: filter.limit, value: filter.selectedLimit, dataValueField: 'value', dataTextField: 'text', filter: 'contains'}"></select>
    </div>
    <div class="menu-missedflow">
      <select name="Site" style="width:100px" class="full-width filter-space" data-bind="kendoDropDownList: { data: filter.flow, value: filter.selectedFlow, dataValueField: 'value', dataTextField: 'text', filter: 'contains'}"></select>
    </div>
    <div class="menu-missedflow">
      <div class="btn-group">
        <button class="btn btn-primary btn-sm switch active" data-target="#year" data-bind="click: filter.switchDateType">Y</button>
        <button class="btn btn-primary btn-sm switch" data-target="#month" data-bind="click: filter.switchDateType">M</button>
      </div>
    </div>
    <div class="menu-missedflow">
      <input type="text" id="year" data-bind="kendoDatePicker:{ value:new Date(),format:'yyyy', start: 'decade', depth: 'decade', value: filter.selectedYear }" class="filter-space">
    </div>
    <div class="menu-missedflow">
      <input type="text" id="month" data-bind="kendoDatePicker:{ value:new Date(),format:'yyyy MMM', start: 'year', depth: 'year', value: filter.selectedMonth }" class="filter-space">
    </div>
    <div class="menu-missedflow">
      <div style="background-color: #33c766; color: #fff; padding: 4px 15px 4px 15px; border-radius:18px">Go</div>
    </div>
    <div class="menu-missedflow">
      <img id="printpdf" width="20px" src="/main/static/3rdparty/img/pdf.png" alt="pdf" onclick="missedflow.getPDF('#setarea')">
    </div>
  </div>
</div>
  <div class="col-md-6">
    <div id="missedflowchart" class="col-md-12"></div>
  </div>
  <div class="col-md-6">
    <h2 data-bind="text: missedflow.highlightedNode().name"></h2>
    <table class="detail-table">
      <tbody data-bind="foreach: missedflow.highlightedLinks">
        <tr>
          <td class="bold" data-bind="text: source.name"></td>
          <td rowspan="2">➡︎</td>
          <td class="bold" data-bind="text: target.name"></td>
          <td data-bind="text: value" rowspan="2"></td>
        </tr>
        <tr>
            <td data-bind="text: sourceBank"></td>
            <td data-bind="text: targetBank"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
