<script>
  viewModel.title('Missed Flow Analysis')
</script>
<!-- Content -->
<script src="{{ NoCacheUrl "/main/static/3rdparty/d3/d3.v4.min.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/3rdparty/d3/d3-selection-multi.v1.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/3rdparty/d3/sankey.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/3rdparty/d3/d3-tip.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/core/js/missedflow/index.js" }}"></script>
<link rel="stylesheet" href="{{ NoCacheUrl "/main/static/core/css/missedflow/index.css" }}" />
<div class="row">
  <div class="col-md-6">
    <div id="missedflowchart" class="col-md-12"></div>
  </div>
  <div class="col-md-6">
  </div>
</div>
