<script>
  viewModel.title('Dashboard')
</script>
<!-- content -->
<script src="/main/static/3rdparty/mapbox/mapbox.js"></script>
<link href="/main/static/3rdparty/mapbox/mapbox.css" rel="stylesheet" />

<script src="{{ NoCacheUrl "/main/static/core/js/map-template.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/core/js/dashboard/index.js" }}"></script>
<link rel="stylesheet" href="{{ NoCacheUrl "/main/static/core/css/dashboard/index.css" }}" />

<div style="position:absolute; z-index: 0">
  <svg>
    <filter id="shadow" x="-5" y="-5" width="1000%" height="1000%">
      <feDropShadow dx="0" dy="0" stdDeviation="10" flood-color="black" flood-opacity="0.6" />
    </filter>
  </svg>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="breadcrumb-container">
      <span data-bind="text: filter.selectedGroupName"></span>
      <i class="fa fa-fw fa-caret-right"></i>
      <span>Dashboard</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 dashboardfilter">
    <div class="filter-container">
      <div class="filtergroup multiselect">
        <select name="Site" style="width:120px;" data-bind="kendoMultiSelect: { data: filter.bookingCountries, value: filter.selectedBookingCountry, filter: 'contains'}"></select>
      </div>
      <div class="filtergroup">
        <select name="Site" style="width:200px" data-bind="kendoDropDownList: { data: filter.groupNames, value: filter.selectedGroupName, filter: 'contains' }"></select>
      </div>
      <div class="filtergroup">
        <select name="Site" style="width:200px" data-bind="kendoDropDownList: { data: filter.entities, value: filter.selectedEntity, filter: 'contains'}"></select>
      </div>
      <div class="filtergroup">
        <select name="Site" style="width:120px" data-bind="kendoDropDownList: { data: filter.role, value: filter.selectedRole, dataValueField: 'value', dataTextField: 'text', filter: 'contains'}"></select>
      </div>
      <div class="filtergroup">
        <select name="Site" style="width:90px" data-bind="kendoDropDownList: { data: filter.group, value: filter.selectedGroup, dataValueField: 'value', dataTextField: 'text', filter: 'contains'}"></select>
      </div>
      <div class="filtergroup">
        <select name="Site" style="width:90px" data-bind="kendoDropDownList: { data: filter.productCategories, value: filter.selectedProductCategory, dataValueField: 'value', dataTextField: 'text', filter: 'contains'}"></select>
      </div>
      <div class="filtergroup">
        <select name="Site" style="width:70px" data-bind="kendoDropDownList: { data: filter.limit, value: filter.selectedLimit, dataValueField: 'value', dataTextField: 'text', filter: 'contains'}"></select>
      </div>
      <div class="filtergroup">
        <select name="Site" style="width:100px" data-bind="kendoDropDownList: { data: filter.flow, value: filter.selectedFlow, dataValueField: 'value', dataTextField: 'text', filter: 'contains'}"></select>
      </div>
      <div class="filtergroup">
        <div class="btn-group">
          <button class="btn btn-primary btn-sm switch active" data-target="#year" data-bind="click: filter.switchDateType">Y</button>
          <button class="btn btn-primary btn-sm switch" data-target="#month" data-bind="click: filter.switchDateType">M</button>
        </div>
      </div>
      <div class="filtergroup">
        <input type="text" id="datePicker" data-bind="kendoDatePicker:{ value:new Date(), format:'yyyy', start: 'decade', depth: 'decade', value: filter.selectedDate }"
          class="filter-space">
      </div>
      <div class="filtergroup">
        <div class="filter-button" style="background-color: #33c766; color: #fff; padding: 4px 15px 4px 15px; border-radius:18px"
          data-bind="click:dashboard.loadAllData">Go</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <div class="panel ez no-padding hardcore widget">
      <div class="panel-heading">
        <span>Group Entities</span>
      </div>
      <div class="panel-body widget-body">
        <div class="widget-left">
          <p data-bind="text: widget.etb"></p>
          <span>
            Q
            <i class="fa fa-fw fa-minus" data-bind="css: {'green-text fa-caret-up': widget.etbYearChange() > 0, 'red-text fa-caret-down': widget.etbYearChange() < 0}"></i>
            <span data-bind="text: widget.etbQuarterChange"></span>
          </span>
        </div>
        <div class="widget-right">
          <div class="chart-container" id="widgetChart1">
          </div>
          <div>
            <span>
              Y
              <i class="fa fa-fw fa-minus" data-bind="css: {'green-text fa-caret-up': widget.etbYearChange() > 0, 'red-text fa-caret-down': widget.etbYearChange() < 0}"></i>
              <span data-bind="text: widget.etbYearChange"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel ez no-padding hardcore widget">
      <div class="panel-heading">
        <span>Buyers</span>
      </div>
      <div class="panel-body widget-body">
        <div class="widget-left">
          <p data-bind="text: widget.buyer"></p>
          <span>
            Q
            <i class="fa fa-fw fa-minus" data-bind="css: {'green-text fa-caret-up': widget.buyerYearChange() > 0, 'red-text fa-caret-down': widget.buyerYearChange() < 0}"></i>
            <span data-bind="text: widget.buyerQuarterChange"></span>
          </span>
        </div>
        <div class="widget-right">
          <div class="chart-container" id="widgetChart2">
          </div>
          <div>
            <span>
              Y
              <i class="fa fa-fw" data-bind="css: {'green-text fa-caret-up': widget.buyerYearChange() > 0, 'red-text fa-caret-down': widget.buyerYearChange() < 0}"></i>
              <span data-bind="text: widget.buyerYearChange"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel ez no-padding hardcore widget">
      <div class="panel-heading">
        <span>Suppliers</span>
      </div>
      <div class="panel-body widget-body">
        <div class="widget-left">
          <p data-bind="text: widget.seller"></p>
          <span>
            Q
            <i class="fa fa-fw fa-minus" data-bind="css: {'green-text fa-caret-up': widget.sellerYearChange() > 0, 'red-text fa-caret-down': widget.sellerYearChange() < 0}"></i>
            <span data-bind="text: widget.sellerQuarterChange"></span>
          </span>
        </div>
        <div class="widget-right">
          <div class="chart-container" id="widgetChart3">
          </div>
          <div>
            <span>
              Y
              <i class="fa fa-fw" data-bind="css: {'green-text fa-caret-up': widget.sellerYearChange() > 0, 'red-text fa-caret-down': widget.sellerYearChange() < 0}"></i>
              <span data-bind="text: widget.sellerYearChange"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel ez no-padding hardcore widget">
      <div class="panel-heading">
        <span>In Flows ($B)</span>
      </div>
      <div class="panel-body widget-body">
        <div class="widget-left">
          <p data-bind="text: kendo.toString(widget.inFlow() / 1000000000, 'n2')"></p>
          <span>
            Q
            <i class="fa fa-fw fa-minus" data-bind="css: {'green-text fa-caret-up': widget.inFlowYearChange() > 0, 'red-text fa-caret-down': widget.inFlowYearChange() < 0}"></i>
            <span data-bind="text: kendo.toString(widget.inFlowQuarterChange() / 1000000000, 'n2')"></span>
          </span>
        </div>
        <div class="widget-right">
          <div class="chart-container" id="widgetChart4">
          </div>
          <div>
            <span>
              Y
              <i class="fa fa-fw" data-bind="css: {'green-text fa-caret-up': widget.inFlowYearChange() > 0, 'red-text fa-caret-down': widget.inFlowYearChange() < 0}"></i>
              <span data-bind="text: kendo.toString(widget.inFlowYearChange() / 1000000000, 'n2')"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel ez no-padding hardcore widget">
      <div class="panel-heading">
        <span>Out Flows ($B)</span>
      </div>
      <div class="panel-body widget-body">
        <div class="widget-left">
          <p data-bind="text: kendo.toString(widget.outFlow() / 1000000000, 'n2')"></p>
          <span>
            Q
            <i class="fa fa-fw fa-minus" data-bind="css: {'green-text fa-caret-up': widget.outFlowYearChange() > 0, 'red-text fa-caret-down': widget.outFlowYearChange() < 0}"></i>
            <span data-bind="text: kendo.toString(widget.outFlowQuarterChange() / 1000000000, 'n2')"></span>
          </span>
        </div>
        <div class="widget-right">
          <div class="chart-container" id="widgetChart5">
          </div>
          <div>
            <span>
              Y
              <i class="fa fa-fw" data-bind="css: {'green-text fa-caret-up': widget.outFlowYearChange() > 0, 'red-text fa-caret-down': widget.outFlowYearChange() < 0}"></i>
              <span data-bind="text: kendo.toString(widget.outFlowYearChange() / 1000000000, 'n2')"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel ez no-padding hardcore widget">
      <div class="panel-heading">
        <span>Pipeline Workbench ($B)</span>
      </div>
      <div class="panel-body widget-body">
        <div class="widget-left">
          <p data-bind="text: widget.pipeline"></p>
          <span>
            Q
            <i class="fa fa-fw fa-minus" data-bind="css: {'green-text fa-caret-up': widget.pipelineYearChange() > 0, 'red-text fa-caret-down': widget.pipelineYearChange() < 0}"></i>
            <span data-bind="text: widget.pipelineYearChange"></span>
          </span>
        </div>
        <div class="widget-right">
          <div class="chart-container" id="widgetChart6">
          </div>
          <div>
            <span>
              Y
              <i class="fa fa-fw fa-minus" data-bind="css: {'green-text fa-caret-up': widget.pipelineYearChange() > 0, 'red-text fa-caret-down': widget.pipelineYearChange() < 0}"></i>
              <span data-bind="text: widget.pipelineYearChange"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="maps" class="row">
  <div class="col-lg-12">
    <div class="panel ez no-padding hardcore">
      <div class="panel-body no-padding">
        <div id="map" class="map"></div>
        <div class="row groupbox">
          <div class="box redbox">
            Domicile
            <br/>Group
          </div>
          <div class="box greenbox">
            <span data-bind="text: widget.etb"></span>
            <br/>Group Entities
          </div>
          <!-- <div class="box greenbox">
            63
            <br/>NTB
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Template -->
<div id="mapDetailModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-title">
          <span data-bind="text:dashboard.country"></span>
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <span id="titleName" data-bind="text: dashboard.name,click:dashboard.btnBack"></span>
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <span data-bind="text: dashboard.activeEntityDetail.noteHeaderModal"></span>
        </div>
      </div>
      <div class="modal-body">
        <div class="row" id="groupbuttondetail">
          <div class="col-sm-6 align-center top-margin">
            <button type="button" class="btn btn-flat" data-bind="click:dashboard.btnCash">Cash
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-sm-6 align-center top-margin">
            <button type="button" class="btn btn-flat" data-bind="click:dashboard.btnTrade">Trade
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-sm-12 align-center top-margin">
            <a data-bind="attr: { href: '/main/counterparty/networkdiagram?entityGroup=' + filter.selectedGroupName() + '&entityName=' + dashboard.name()+ '&entityCOI=' + dashboard.activeEntities().country }"
              class="btn btn-flat">Network Diagram
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="row" id="tradetabs" style="display:none">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active tab1">
              <a href="#Flows" aria-controls="Flows" role="tab" data-toggle="tab">Flows</a>
            </li>
            <li role="presentation">
              <a href="#Trade" class="" aria-controls="Trade" role="tab" data-toggle="tab">Products</a>
            </li>
          </ul>
          <div class="tab-content">
            <!--panel list-->
            <div role="tabpanel" class="tab-pane active" id="Flows">
              <div class="notransaction" data-bind="text : dashboard.noinflow"></div>
              <div class="row align-center top-padding inflow" data-bind="visible : dashboard.inflow">
                IN $
                <span data-bind="text:dashboard.activeEntityDetail.sumInFlow"></span>
              </div>
              <div align="center" data-bind="visible : dashboard.inflow">
                <i class="fa fa-play fa-out" aria-hidden="true"></i>
                <div style="display: inline-block;width: 400px;">
                  <table id="table-flows-in" width="100%" style="margin-left: auto;margin-right: auto;">
                    <tr style="cursor: pointer;" data-bind="foreach:dashboard.activeEntityDetail.dataInFlow">
                      <td class="some" data-placement="right" data-toggle="tooltip" data-bind="attr: {title: 'Bank : '+text+'<br>Flow Amount : $ '+tooltip }, style: { width: value + '%',background:color}"
                        align="center">
                        <span data-bind="text:text"></span>
                      </td>
                    </tr>
                  </table>
                </div>
                <i class="fa fa-play fa-in fa-hide" aria-hidden="true"></i>
              </div>
              <div class="notransaction" data-bind="text : dashboard.nooutflow"></div>
              <div data-bind="visible : dashboard.outflow" class="row align-center top-padding outflow">
                OUT $
                <span data-bind="text:dashboard.activeEntityDetail.sumOutFlow"></span>
              </div>
              <div data-bind="visible : dashboard.outflow" id="flows-out" class="row align-center outflow">
                <i class="fa fa-play fa-out fa-hide" aria-hidden="true"></i>
                <div style="display: inline-block;width: 400px;">
                  <table id="table-flows-out" width="100%" style="margin-left: auto;margin-right: auto;">
                    <tr style="cursor: pointer;" data-bind="foreach:dashboard.activeEntityDetail.dataOutFlow">
                      <td class="some" data-bind="attr: {'data-toggle' : 'tooltip', title: 'Bank : '+text+'<br>Flow Amount : $ '+tooltip }, style: { width: value + '%',background:color}">
                        <span data-bind="text:text"></span>
                      </td>
                    </tr>
                  </table>
                </div>
                <i class="fa fa-play fa-in" aria-hidden="true"></i>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Trade">
              <div class="align-center">
                <label class="texthead">Product Mix</label>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="notransaction" data-bind="text: dashboard.labeltableno"></div>
                  <table data-bind="visible: dashboard.tablenoinflowoutflow" class="table" style="color:  #fff; background-color:  #4F5F79">
                    <thead>
                      <tr>
                        <th width="50%" class="dash_act" align="center" colspan="2" data-bind="text:dashboard.labelimport"></th>
                        <th width="50%" class="dash_act" colspan="2" data-bind="text:dashboard.labelexport"></th>
                      </tr>
                    </thead>
                    <tbody data-bind="foreach: dashboard.activeEntityDetail.dataProductMixA">
                      <tr>
                        <td data-bind="text: $data.product2"></td>
                        <td width="15%" align="right" data-bind="text: dashboard.bmnots($data.value2, '')"></td>
                        <td data-bind="text: $data.product"></td>
                        <td width="15%" align="right" data-bind="text: dashboard.bmnots($data.value, '')"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-sm-12" data-bind="visible : dashboard.other">
                  <table class="table othertable" style="color:  #fff; background-color:  #4F5F79">
                    <tbody data-bind="foreach: dashboard.activeEntityDetail.dataProductMixC">
                      <tr>
                        <td data-bind="text: product"></td>
                        <td align="right" data-bind="text:  '$'+ dashboard.bm(value, '')"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script id="tooltip-template" type="text/x-kendo-template">
  <div class="head">
    <p>
      #= entities.length # #= name #
    </p>
  </div>
  <div>
    <div>
      # entities.forEach(function(e, i) { #

      <div class="cssnowrap" onclick="dashboard.showMapDetails(#= i #)">#= e #</div>

      # }) #
    </div>
  </div>
</script>