<script>
    viewModel.title('Dashboard')
</script>
<!-- content -->
<script src="{{ NoCacheUrl "/main/static/core/js/map-template.js" }}"></script>
<script src="{{ NoCacheUrl "/main/static/core/js/dashboard-index.js" }}"></script>
<link rel="stylesheet" href="{{ NoCacheUrl "/main/static/core/css/dashboard-index.css" }}" />
<div class="row">
    <div id="filter" class="col-sm-9 bottom-padding">
        <div class="col-sm-2"> 
            <select name="Site" style="width:200px" class="full-width filter-space" data-bind="kendoDropDownList: { data: dashboard.region, dataValueField: 'value', dataTextField: 'text',optionLabel:'Select Region',filter: 'contains'}"></select>
        </div>
        <div class="col-sm-2">
            <select name="Site" style="width:200px" class="full-width filter-space" data-bind="kendoDropDownList: { data: dashboard.country, dataValueField: 'value', dataTextField: 'text',optionLabel:'Select Country',filter: 'contains'}"></select>
        </div>
        <div class="col-sm-2">
            <select name="Site" style="width:200px" class="full-width filter-space" data-bind="kendoDropDownList: { data: dashboard.businessmatric, dataValueField: 'value', dataTextField: 'text',optionLabel:'Select Business',filter: 'contains'}"></select>
        </div>
        <div class="col-sm-2">
            <select name="Site" style="width:200px" class="full-width filter-space" data-bind="kendoDropDownList: { data: dashboard.payment, dataValueField: 'value', dataTextField: 'text',optionLabel:'Select Payment',filter: 'contains'}"></select>
        </div>
        <div class="col-sm-2">
            <input type="text" id="date" data-bind="kendoDatePicker:{value:new Date(),format:'yyyy', start: 'decade'}" class="filter-space">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="panel ez no-padding hardcore widget">
            <div class="panel-heading">
                <span>Total Entities (ETB+NTB)</span>
            </div>
            <div class="panel-body widget-body">
                <div class="widget-left">19</div>
                <div class="widget-right">
                    <div class="chart-container" id="widgetChart1">
                    </div>
                    <div>
                        <span class="left-caret">Q<i class="fa fa-fw fa-caret-up"></i>4</span>
                        <span>Y<i class="fa fa-fw fa-caret-up"></i>11</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel ez no-padding hardcore widget">
            <div class="panel-heading">
                <span>Number of Buyers</span>
            </div>
            <div class="panel-body widget-body">
                <div class="widget-left">19</div>
                <div class="widget-right">
                    <div class="chart-container" id="widgetChart2">
                    </div>
                    <div>
                        <span class="left-caret">Q<i class="fa fa-fw fa-caret-up"></i>4</span>
                        <span>Y<i class="fa fa-fw fa-caret-up"></i>11</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel ez no-padding hardcore widget">
            <div class="panel-heading">
                <span>Number of Sellers</span>
            </div>
            <div class="panel-body widget-body">
                <div class="widget-left">19</div>
                <div class="widget-right">
                    <div class="chart-container" id="widgetChart3">
                    </div>
                    <div>
                        <span class="left-caret">Q<i class="fa fa-fw fa-caret-up"></i>4</span>
                        <span>Y<i class="fa fa-fw fa-caret-up"></i>11</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel ez no-padding hardcore widget">
            <div class="panel-heading">
                <span>In Flows ($M)</span>
            </div>
            <div class="panel-body widget-body">
                <div class="widget-left">19</div>
                <div class="widget-right">
                    <div class="chart-container" id="widgetChart4">
                    </div>
                    <div>
                        <span class="left-caret">Q<i class="fa fa-fw fa-caret-up"></i>4</span>
                        <span>Y<i class="fa fa-fw fa-caret-up"></i>11</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel ez no-padding hardcore widget">
            <div class="panel-heading">
                <span>Out Flows ($M)</span>
            </div>
            <div class="panel-body widget-body">
                <div class="widget-left">19</div>
                <div class="widget-right">
                    <div class="chart-container" id="widgetChart5">
                    </div>
                    <div>
                        <span class="left-caret">Q<i class="fa fa-fw fa-caret-up"></i>4</span>
                        <span>Y<i class="fa fa-fw fa-caret-up"></i>11</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel ez no-padding hardcore widget">
            <div class="panel-heading">
                <span>Pipeline Workbench ($M)</span>
            </div>
            <div class="panel-body widget-body">
                <div class="widget-left">19</div>
                <div class="widget-right">
                    <div class="chart-container" id="widgetChart6">
                    </div>
                    <div>
                        <span class="left-caret">Q<i class="fa fa-fw fa-caret-up"></i>4</span>
                        <span>Y<i class="fa fa-fw fa-caret-up"></i>11</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="maps" class="row">
    <div class="col-lg-12">
        <div class="panel ez no-padding hardcore">
            <div class="panel-body no-padding">
                <div id="map" class="map"></div>
                <div class="row groupbox">
                    <div class="box redbox">
                        Domicile<br/>Group
                    </div>
                    <div class="box bluebox">
                        28<br/>ETB
                    </div>
                    <div class="box greenbox">
                        63<br/>NTB
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mapDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" data-bind="text: dashboard.activeEntity()"></h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-12">
                </div>
            </div>
        </div>
    </div>
</div>
