.filter-item {
  display: inline-block;
  font-size: 11px;
  margin-bottom: 6px;
}

.filter-label {
  padding: 5px 0;
}

.switch {
  color: #3276b1;
  background-color: #fff;
  height: 27px;
}

.filter-container .k-combobox .k-dropdown-wrap {
  border-color: #22313F;
  background: #22313F !important;
}

.filter-container .k-dropdown .k-state-default,
.filter-container .k-combobox .k-select {
  background: #22313F !important;
  border-color: #22313F;
  color: #ffffff !important;
  padding: 0;
}

.filter-container .k-input {
  color: #ffffff !important;
  background: #22313F !important;
}

.filter-container .k-picker-wrap {
  background: #22313F !important;
  border-color: #22313F;
  color: #ffffff !important;
}

.filter-container .k-picker-wrap.k-state-default>.k-select {
  border-color: #22313F;
}

.grid-container {
  margin-top: 10px;
}
/* 
.k-grid-header th {
  background-color: #22313F !important;
  color: white !important;
}

.k-grid-content td {
  background-color: #e9ebf4 !important;
  color: black !important;
  border-color: white !important;
}

.k-grid-content tr:hover td {
  background-color: #6BB9F0 !important;
} */

.alert.alert-info {
  background-image: none !important;
  background: #E4F1FE !important;
}

.excel-download {
  float: right;
  margin-top: 20px;
}