<script>
  viewModel.title('Filter Engine')
</script>
<!-- Content -->
<script src="{{ NoCacheUrl "/main/static/core/js/filterengine/index.js"}}"></script>
<link rel="stylesheet" href="{{ NoCacheUrl "/main/static/core/css/filterengine/index.css" }}" />
<div class="row">
  <div class="col-lg-12 breadcrumb-container">
    <span>
      <a data-bind="attr:{href: '/main/dashboard/index">Dashboard</a>
    </span>
    <i class="fa fa-fw fa-caret-right"></i>
    <span>Filter Engine</span>
  </div>
</div>
<div class="row" id="setarea">
  <div class="row">
    <div class="col-lg-12 filter-container">
      <div class="filter-item">
        <div class="filter-label">Trade Product Type</div>
        <select style="width:180px" data-bind="kendoDropDownList: { data: filter.tradeProducts, value: filter.selectedTradeProduct, filter: 'contains'}"></select>
      </div>
      <div class="filter-item">
        <div class="filter-label">Group</div>
        <select style="width:180px" data-bind="kendoDropDownList: { data: filter.groups,value: filter.selectedGroup, filter: 'contains' }"></select>
      </div>
      <div class="filter-item">
        <div class="filter-label">Number of Supplier</div>
        <select style="width:120px" data-bind="kendoComboBox: { data: filter.supplierNumbers, value: filter.selectedSupplierNumber }"></select>
      </div>
      <div class="filter-item">
        <div class="filter-label">Transactions Number</div>
        <select style="width:120px" data-bind="kendoComboBox: { data: filter.transactionNumbers, value: filter.selectedTransactionNumber }"></select>
      </div>
      <div class="filter-item">
        <div class="filter-label">Total Flows</div>
        <select style="width:120px" data-bind="kendoComboBox: { data: filter.totalFlows, value: filter.selectedTotalFlow }"></select>
      </div>
      <div class="filter-item"  >
        <div class="filter-label">Credit Ratings</div>
        <select style="width:120px" data-bind="kendoComboBox: { data: filter.creditRatings, value: filter.selectedCreditRating }"></select>
      </div>  
      <div class="filter-item">
        <div class="filter-label">&nbsp;</div>
        <div class="btn-group">
          <button class="btn btn-primary btn-sm switch active" data-target="#year" data-bind="click: filter.switchDateType">Y</button>
          <button class="btn btn-primary btn-sm switch" data-target="#month" data-bind="click: filter.switchDateType">M</button>
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-label">&nbsp;</div>
        <input type="text" id="datePicker" data-bind="kendoDatePicker:{ value:new Date(),format:'yyyy', start: 'decade', depth: 'decade', value: filter.selectedDate }"
          class="filter-space">
      </div>
      <div class="filter-item">
        <div class="filter-label">&nbsp;</div>
        <div class="filter-button" style="background-color: #33c766; color: #fff; padding: 4px 15px 4px 15px; border-radius:18px"
          data-bind="click:engine.load">Go</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 grid-container">
      <div data-bind="kendoGrid: engine.gridConfig"></div>
    </div>
  </div>
</div>