.graph {
  height: 600px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1px;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  font-weight: bold;	
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.menu_counterparty{
  display: inline-block;
  font-size: 11px;
  padding-right: 15px; 
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

#filter .k-dropdown .k-state-default {
  background: #22313F;
  border-color: #22313F;
  color: #ffffff;
}

#filter .k-input {
  color: #ffffff;
  background: #22313F;
}

#filter .k-picker-wrap {
  background: #22313F;
  border-color: #22313F;
  color: #ffffff;
}

#filter .k-picker-wrap.k-state-default>.k-select {
  border-color: #22313F;
}

.active{
  min-width: 50px;
  min-height: 25px;
}

.notActive{
  min-width: 50px;
  min-height: 25px;
}