.graph {
  height: 600px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1px;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}