.fade {
  opacity: 0.2;
}

.hide {
  display: none;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.flow {
  stroke: #4289bd;
}

path.link.missed {
  stroke: #666;
  stroke-dasharray: 5, 5;
}

marker#flow,
marker#flow-big {
  fill: #4289bd;
}

marker#missed,
marker#missed-big {
  fill: #666;
}

circle:hover {
  cursor: pointer;
}

circle.buyer {
  fill: none;
  stroke-width: 3;
  stroke: #000f46;
}

circle.supplier {
  fill: #000f46;
}

circle.ntb {
  fill: #009fda;
  stroke-width: 1px;
}

circle.etb {
  fill: #69be28;
  stroke-width: 1px;
}

circle.center {
  fill: #6d6e71;
  stroke-width: 1px;
}

text {
  font: 10px sans-serif;
}

text.shadow {
  stroke: #fff;
  stroke-width: 4px;
  stroke-opacity: .8;
}

text.coi {
  fill: #6d6e71;
}

text.detail-button {
  fill: #000f46;
}

text.detail-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.menu-counterparty {
  display: inline-block;
  font-size: 11px;
  margin-bottom: 6px;
}

.switch {
  color: #3276b1;
  background-color: #fff;
  height: 27px;
}

#filter .k-dropdown .k-state-default {
  background: #22313F;
  border-color: #22313F;
  color: #ffffff;
}

#filter .k-input {
  color: #ffffff;
  background: #22313F;
}

#filter .k-picker-wrap {
  background: #22313F;
  border-color: #22313F;
  color: #ffffff;
}

#filter .k-picker-wrap.k-state-default>.k-select {
  border-color: #22313F;
}

.legend {
  position: absolute;
  top: 100px;
}