.menu_counterparty{
  display: inline-block;
  font-size: 11px;
  padding-right: 15px; 
  margin-bottom: 6px;
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

#filter .k-dropdown .k-state-default {
  background: #22313F;
  border-color: #22313F;
  color: #ffffff;
}

#filter .k-input {
  color: #ffffff;
  background: #22313F;
}

#filter .k-picker-wrap {
  background: #22313F;
  border-color: #22313F;
  color: #ffffff;
}

#filter .k-picker-wrap.k-state-default>.k-select {
  border-color: #22313F;
}

.active{
  min-width: 50px;
  min-height: 25px;
}

.notActive{
  min-width: 50px;
  min-height: 25px;
}

.main-node{
  width: 600px; 
  height:   600px; 
  display: table;  
}

.main-node-one{
  display: table-cell; vertical-align: middle; 
}

.main-node-two{
  padding: 20px;
  z-index:1; 
  position:relative;
  border-radius: 10px; 
  background-color: #00bcd4; width:130px
}

/* append graph*/
.main-node-two{
    color:#fff;
}

.titletext{
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 2px dashed #b5b0ac; 
    border-radius: 50%;
    height:  80px;
    background-color: #f8f8f8;
    position: absolute;
    bottom: 170px;
    left: 40px;
    transform: rotate(-40deg);
  }

  .titletextafter{
    width:190px;
    border-bottom:3px solid #72eaf0; 
    left:30px; 
    position: absolute; 
    height:   3px; 
    bottom: 5px;
  }

  .linkdashed{
    width:190px;
    border-bottom:5px dashed #54787a; 
    left:30px; 
    position: absolute; 
    height:  5px; 
    bottom: -3px;
  }

  .newtitle{
    height: 100px;
    color:#fff;
    bottom: 76px;
    left:20px;
    display: table;
    text-align: center;
    z-index:1; 
    position:absolute;
    border-radius: 50%;
    background-color: #4b7082; 
    width:100px; 
  }

  .afternewtitle{
    padding: 12px 12px 3px 12px; 
    display: table-cell; 
    vertical-align: middle;
  }

  .iconright{
    height: 100px;
    font-size: 17px;
    color:red;/*#72eaf0*/
    bottom: 178px;
    left:251px;
    transform: rotate(-40deg);
    z-index:1200; 
    position:absolute;
  }

  .titletext{
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 2px dashed #b5b0ac; 
    border-radius: 50%;
    height:  80px;
    background-color: #f8f8f8;
    position: absolute;
    bottom: 170px;
    left: 40px;
    transform: rotate(-40deg);
  }

  .titletextafter{
    width:190px;
    border-bottom:3px solid #72eaf0; 
    left:30px; 
    position: absolute; 
    height:   3px; 
    bottom: 5px;
  }

  .linkdashed{
    width:190px;
    border-bottom:5px dashed #54787a; 
    left:30px; 
    position: absolute; 
    height:  5px; 
    bottom: -3px;
  }

  .newtitle{
    height: 100px;
    color:#fff;
    bottom: 76px;
    left:20px;
    display: table;
    text-align: center;
    z-index:1; 
    position:absolute;
    border-radius: 50%;
    background-color: #4b7082; 
    width:100px; 
  }

  .afternewtitle{
    padding: 12px 12px 3px 12px; 
    display: table-cell; 
    vertical-align: middle;
  }

  .arrowleft{
    position: absolute;
    color:red;/*#72eaf0*/
    z-index:2; 
    top:36px;
    left:70px;
  }

  .arrowright{
    position: absolute;
    color:red;/*#72eaf0*/
    z-index:2; 
    top:36px;
    left:170px;
  }

  #exporttoexcel{
    cursor: pointer; 
    color: #fff; 
    padding: 3px; 
    margin-bottom: 7px; 
    background-color: #828282;
    width: 130px;
  }

  #exporttoexcel:hover{
    background-color: #3ba73f;
  }
 
  #exporttoexcel:active {
    background-color: #1791a5;
    color: #000;
  }