/* d3 Network */

.fade {
  opacity: 0.2;
}

.hide {
  display: none;
}

.bs-indicator {
  font-size: 1.2em;
  fill: #f1963d;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.flow {
  stroke: #4289bd;
}

path.link.missed {
  stroke: #666;
  stroke-dasharray: 4, 4;
}

circle.bubble {
  fill: none;
}

circle:hover+circle.bubble {
  stroke: black;
  stroke-width: 2;
}

circle.flow {
  fill: white;
  stroke: #4289bd;
  stroke-width: 2;
}

circle.missed {
  fill: white;
  stroke: #666;
  stroke-width: 2;
}

marker.flow {
  fill: #4289bd;
}

marker.missed {
  fill: #666;
}

circle.buyer {
  fill: white !important;
  stroke-width: 6;
}

circle.supplier {
  fill: #000f46;
}

circle.ntb {
  stroke: #4689bb;
  fill: #4689bb;
}

circle.etb {
  stroke: #5ba84e;
  fill: #5ba84e;
}

circle.center {
  fill: #f1963d;
}

text {
  font: 10px sans-serif;
}

text.shadow {
  stroke: #fff;
  stroke-width: 4px;
  stroke-opacity: .8;
}

text.coi {
  fill: #6d6e71;
}


/* End of d3 Network */


/* Tooltip */

.tooltip-table tr td {
  font-size: 0.8em !important;
  padding: 1px;
}

.tooltip-table tr td:first-child {
  padding-right: 20px;
}

.tooltip-table tr td a {
  color: steelblue;
}

.tooltip-table tr td a:hover {
  cursor: pointer;
  text-decoration: underline;
}


/* End of Tooltip */


/* Main HTML */

.bottom-navigation {
  position: fixed;
  bottom: 0px;
  margin-left: 2px;
}

.bottom-navigation ul {
  padding: 0;
}

.bottom-navigation ul li {
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  border-radius: 2px;
  background-color: #22313F;
  color: white;
  margin-right: 8px;
}

.bottom-navigation ul>li:hover,
.bottom-navigation ul>li.active {
  cursor: pointer;
  background-color: #446CB3;
}

.menu-counterparty {
  display: inline-block;
  font-size: 11px;
  margin-bottom: 6px;
}

.switch {
  color: #3276b1;
  background-color: #fff;
  height: 27px;
}

#filter .k-dropdown .k-state-default {
  background: #22313F;
  border-color: #22313F;
  color: #ffffff;
}

#filter .k-input {
  color: #ffffff;
  background: #22313F;
}

#filter .k-picker-wrap {
  background: #22313F;
  border-color: #22313F;
  color: #ffffff;
}

#filter .k-picker-wrap.k-state-default>.k-select {
  border-color: #22313F;
}

.legend {
  position: absolute;
  top: 120px;
}

.titletext {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 2px dashed #b5b0ac;
  border-radius: 50%;
  height: 80px;
  background-color: #f8f8f8;
  position: absolute;
  bottom: 170px;
  left: 40px;
  transform: rotate(-40deg);
}

.titletextafter {
  width: 190px;
  border-bottom: 3px solid #72eaf0;
  left: 30px;
  position: absolute;
  height: 3px;
  bottom: 5px;
}

.linkdashed {
  width: 190px;
  border-bottom: 5px dashed #54787a;
  left: 30px;
  position: absolute;
  height: 5px;
  bottom: -3px;
}

.newtitle {
  height: 100px;
  color: #fff;
  bottom: 76px;
  left: 20px;
  display: table;
  text-align: center;
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  background-color: #4b7082;
  width: 100px;
}

.afternewtitle {
  padding: 12px 12px 3px 12px;
  display: table-cell;
  vertical-align: middle;
}

.iconright {
  height: 100px;
  font-size: 17px;
  color: red;
  /*#72eaf0*/
  bottom: 178px;
  left: 251px;
  transform: rotate(-40deg);
  z-index: 1200;
  position: absolute;
}

.titletext {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 2px dashed #b5b0ac;
  border-radius: 50%;
  height: 80px;
  background-color: #f8f8f8;
  position: absolute;
  bottom: 170px;
  left: 40px;
  transform: rotate(-40deg);
}

.titletextafter {
  width: 190px;
  border-bottom: 3px solid #72eaf0;
  left: 30px;
  position: absolute;
  height: 3px;
  bottom: 5px;
}

.linkdashed {
  width: 190px;
  border-bottom: 5px dashed #54787a;
  left: 30px;
  position: absolute;
  height: 5px;
  bottom: -3px;
}

.newtitle {
  height: 100px;
  color: #fff;
  bottom: 76px;
  left: 20px;
  display: table;
  text-align: center;
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  background-color: #4b7082;
  width: 100px;
}

.afternewtitle {
  padding: 12px 12px 3px 12px;
  display: table-cell;
  vertical-align: middle;
}

#exporttoexcel {
  cursor: pointer;
  color: #fff;
  padding: 3px;
  margin-bottom: 7px;
  background-color: #828282;
  max-width: 40px;
}

#exporttoexcel:hover {
  background-color: #3ba73f;
}

#exporttoexcel:active {
  background-color: #1791a5;
  color: #000;
}

.detail-title {
  padding-left: 6px;
  font-size: 20px;
  color: #fff;
}

.buttonclose {
  background-color: #373949;
  color: #fff;
  border-radius: 0px;
  border: 0px;
  padding-bottom: 5px;
  padding-top: 10px;
}